// Colors
@brand-color: #0f9afe;
@dark-10: #293145;
@dark-20: #6e7275;
@dark-30: #dbdbdb;
@dark-40: #ffffff;
@support-01: #2962ff;
@support-02: #0bb07b;
@support-03: #ffce52;
@support-04: #f03d3d;
@support-05: #e0e0e0;

// Typography
@navbar-links: 18px;

@main-title-mobile: 24px;
@main-title-desktop: 48px;

@subtitle-1-mobile: 24px;
@subtitle-1-desktop: 40px;

@subtitle-2-mobile: 24px;
@subtitle-2-desktop: 32px;

@subtitle-3-mobile: 16px;
@subtitle-3-desktop: 18px;

@price-value-size: 50px;
@price-complement-size: 26px;

@text-1-mobile: 16px;
@text-2-mobile: 14px;

@text-1-desktop: 20px;
@text-2-desktop: 18px;
@text-3-desktop: 16px;
