* {
    scroll-behavior: smooth;
}
.header {
    background-color: @dark-40;

    padding: 24px;

    .flexHeader();

    .menu-button {
        .buttonImg();

        display: flex;
    }
    .some-header-botao {
        display: none;
    }

    .navbar {
        display: none;
    }

    @media (min-width: 769px) {
        padding: 24px 50px;
        .menu-button {
            display: none;
        }
        .navbar {
            .flexRow();
            gap: 20px;
            justify-content: space-between;

            > a {
                .textConfig(1.125rem, 500, "Inter", @dark-20);

                &:hover {
                    transition: 0.6s;
                    color: @dark-10;
                }
            }
        }
    }
    @media (min-width: 1100px) {
        padding: 24px 130px;
    }
}
.menu {
    z-index: 5;
    position: fixed;
    top: 0;

    width: 100%;
    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    .div-menu {
        position: relative;

        width: 70%;
        min-height: 100vh;

        padding: 0 20px;

        background-color: @brand-light;

        .fecha-menu-btn {
            .buttonImg();

            position: absolute;
            top: 10%;
            right: 10%;
        }
        .nav-menu {
            .flexColumn();
            gap: 5px;

            padding-top: 150px;

            > a {
                .textConfig(1.125rem, 500, "Inter", @dark-10);

                &:hover {
                    transition: 0.6s;
                    color: @dark-20;
                }
            }
        }
        .button-logo {
            .buttonImg();
            position: absolute;
            bottom: 3%;
            right: 10%;
        }
    }
}
