* {
    scroll-behavior: smooth;
}
.header {
    background-color: @dark-40;

    padding: 24px;

    .flexHeader();

    .menu-button {
        .buttonImg();

        display: flex;
    }
    .some-header-botao {
        display: none;
    }

    .navbar {
        display: none;
    }

    @media (min-width: 769px) {
        padding: 24px 50px;
        .menu-button {
            display: none;
        }
        .navbar {
            .flexRow();
            gap: 20px;
            justify-content: space-between;

            > a {
                .textConfig(@navbar-links, 500, "Inter", @dark-20);

                &:hover {
                    transition: 0.6s;
                    color: @dark-10;
                }
            }
        }
    }
    @media (min-width: 1100px) {
        padding: 24px 130px;
    }
}
.menu {
    z-index: 5;
    position: fixed;
    top: 0;

    width: 100%;
    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    .div-menu {
        position: relative;

        width: 70%;
        min-height: 100vh;

        padding: 0 20px;

        background-color: @brand-light;

        .fecha-menu-btn {
            .buttonImg();

            position: absolute;
            top: 10%;
            right: 10%;
        }
        .nav-menu {
            .flexColumn();
            gap: 5px;

            padding-top: 150px;

            > a {
                .textConfig(@navbar-links, 500, "Inter", @dark-10);

                &:hover {
                    transition: 0.6s;
                    color: @dark-20;
                }
            }
        }
        .button-logo {
            .buttonImg();
            position: absolute;
            bottom: 3%;
            right: 10%;
        }
    }
}
main {
    .first-section {
        .paddingConfig();

        .flexColumn();
        gap: 25px;

        max-width: 100%;

        background-color: @light-blue-bg;

        .div-first-section {
            .flexColumn();
            gap: 16px;

            .title {
                .flexColumn();
                .titleConfig(@main-title-mobile, 600, "Sora", @dark-10, @main-title-desktop);
            }
            .button {
                max-width: 144px;

                .buttonConfig(
                        @brand-color,
                        @dark-40,
                        @radius-button,
                        7.5px 27px,
                        @size-button-mobile,
                        600,
                        "Inter",
                        @size-button-desktop,
                        16px 36px
                    );
            }
        }
        .image-first-section {
            max-width: 550px;
        }
    }
    .second-section {
        margin-top: 40px;
        .paddingConfig();

        > h2 {
            text-align: center;

            .titleConfig(@subtitle-1-mobile, 600, "Sora", @dark-10, @subtitle-1-desktop);
        }
        .list-funcionalities {
            .flexColumn();
            align-items: center;
            gap: 24px;

            list-style: none;
            margin-top: 32px;

            .funcionality-card {
                .flexColumn();
                align-items: center;
                gap: 18px;

                width: 90%;
                max-width: 300px;

                > img {
                    width: 60px;
                }
                > h3 {
                    .titleConfig(@subtitle-3-mobile, 600, "Sora", @dark-10, @subtitle-3-desktop);
                }
                > p {
                    .textConfig(@text-1-mobile, 400, "Inter", @dark-20);
                    text-align: center;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .first-section {
            .flexRow();
            align-items: center;
            justify-content: space-between;

            .div-first-section {
                gap: 50px;

                .button {
                    max-width: 200px;
                }
            }
            .image-first-section {
                max-width: 450px;
            }
        }
        .second-section {
            margin-top: 56px;

            .list-funcionalities {
                .flexRow();
                justify-content: center;
                gap: 5%;

                margin-top: 80px;
            }
        }
    }
    @media (min-width: 1100px) {
        .first-section {
            .image-first-section {
                max-width: 500px;
            }
        }
    }
}
